<header class="header">
    <div class="container">
        <div class="header-item">
            <a href="/" class="header-logo"><img class="logo-img" src="/media/photos/img/logo1.png" alt="logo"></a>
            <nav>
                <ul class="header-nav">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'dog' %}">Собаки</a></li>
                    <li><a href="{% url 'breed' %}">Породы</a></li>
                </ul>
            </nav>
            <button class="enter">Войти</button>
        </div>
    </div>
</header>